<section class="background-section">
    <!-- Agregamos la clase mt-5 para crear un margen superior -->
    <div>
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-12 col-xl-11 mt-5">
                <div class="card-body p-md-5 mt-5">
                    <div class="row ms-5 mt-5 d-flex align-items-center">
                        <div class="col-md-4 col-lg-6 col-xl-5 order-2 order-lg-1 ms-4">

                            <p class="roboto-slab text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4 text-white">Register</p>

                            <!-- ------------------- Formulario --------------------->
                            <form class="container mt-5  py-5" action="" data-aos="zoom-out">
                                <div class="control has-icons-left has-icons-right mb-5">
                                    <input class="input  is-rounded" type="email" placeholder="Ingresa su usuario"
                                        style="padding-left: 40px;">
                                    <span class="icon is-small is-left">
                                        <i class="bi bi-person-circle"></i>
                                    </span>
                                    <span class="icon is-small is-right">
                                        <i class="fas fa-check"></i>
                                    </span>
                                </div>
                                <div class="control has-icons-left has-icons-right mb-5">
                                    <input class="input  is-rounded" type="email" placeholder="Ingresa su telefono"
                                        style="padding-left: 40px;">
                                    <span class="icon is-small is-left">
                                        <i class="bi bi-telephone"></i> </span>
                                    <span class="icon is-small is-right">
                                        <i class="fas fa-check"></i>
                                    </span>
                                </div>
                                <div class="control has-icons-left has-icons-right py-5">
                                    <input class="input  is-rounded" type="email"
                                        placeholder="Ingresa su correo Electronico" style="padding-left: 40px;">
                                    <span class="icon is-small is-left mt-5">
                                        <i class="bi bi-envelope"></i> </span>
                                    <span class="icon is-small is-right">
                                        <i class="fas fa-check"></i>
                                    </span>
                                </div>
                                <div class="control has-icons-left has-icons-right  py-5">
                                    <input class="input  is-rounded" type="password" placeholder="Ingresa la contraseña"
                                        style="padding-left: 40px;">
                                    <span class="icon is-small is-left mt-5">
                                        <i class="bi bi-lock"></i>
                                    </span>
                                    <span class="icon is-small is-right">
                                        <i class="fas fa-check"></i>
                                    </span>
                                </div>
                                <div class="text-center py-5">
                                    <button class="button is-danger is-outlined mr-2" routerLink="/login">Cancelar<i
                                            class="bi bi-arrow-right m-1"></i></button>
                                    <button class="button is-link is-outlined" routerLink="/register">Registrarse<i
                                            class="bi bi-arrow-right m-1"></i></button>

                                </div>

                            </form>
                        </div>
                        <!-- Aqui va el codigo eliminado -->
                        <div class="col-lg-7">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>