<section class="background-section">
    <!-- Agregamos la clase mt-5 para crear un margen superior -->
    <div>
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-12 col-xl-11 mt-5 d-flex ">
                <div class="card-body p-md-5 mt-5 ">
                    <div class="row ms-5 mt-5 d-flex justify-content-center align-items-center">
                        <div class="col-md-4 col-lg-6 col-xl-5 order-2 order-lg-1 ms-4 ">

                            <p class="roboto-slab text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4 text-white"
                                data-aos="zoom-out">Login</p>

                            <!-- ------------------- Formulario --------------------->
                            <form
                                class="container mt-5  py-5 d-flex flex-column justify-content-center align-items-center"
                                action="" data-aos="zoom-out">
                                <div class="control has-icons-left has-icons-right mb-5">
                                    <input class="input  is-rounded" type="email" placeholder="Ingresa el Email">
                                    <span class="icon is-small is-left">
                                        <i class="bi bi-person-circle"></i>
                                    </span>
                                    <span class="icon is-small is-right">
                                        <i class="fas fa-check"></i>
                                    </span>
                                </div>
                                <div class="control has-icons-left has-icons-right  py-5">
                                    <input class="input  is-rounded" type="password"
                                        placeholder="Ingresa la contraseña">
                                    <span class="icon is-small is-left mt-5">
                                        <i class="bi bi-lock"></i>
                                    </span>
                                    <span class="icon is-small is-right">
                                        <i class="fas fa-check"></i>
                                    </span>
                                </div>
                                <div class="col text-center py-5">
                                    <!-- Enlace resaltado -->
                                    <button style="border: none; background: none; padding: 0; margin: 0;"
                                        routerLink="/register">
                                        <a style="font-weight: bold; color: #007bff; text-decoration: none;">¿Quieres
                                            registrarte?</a>
                                    </button>
                                </div>

                                <div class="text-center py-5">
                                    <button class="button is-link is-outlined" routerLink="/materias">Login<i
                                            class="bi bi-arrow-right m-1"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>