<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            <img class="" src="../../../assets/img/img-register-logo2.png" width="65" height="60">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
                ¿Quienes somos?
            </a>

            <a class="navbar-item">
                Cursos
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    More
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        About
                    </a>
                    <a class="navbar-item">
                        Jobs
                    </a>
                    <a class="navbar-item">
                        Contact
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                        Report an issue
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <button class="button is-primary" routerLink="/register">
                        <a class="">
                            <strong>Sign up</strong>
                        </a>
                    </button>

                    <button class="button is-light " routerLink="/login">
                        <a>
                            Log in
                        </a>
                    </button>

                </div>
            </div>
        </div>
    </div>
</nav>

<section class="hero is-info is-fullheight background-section">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-6 is-offset-3">
                <h1 class="aumento title roboto-slab " data-aos="zoom-in">
                    WDS SCHOOL
                </h1>
                <h2 class="smooch-sans subtitle py-5" data-aos="zoom-in">
                    Somos una institución dedicada a potenciar nuevas habilidades en nuestros alumnos, ofreciendo una
                    enseñanza de calidad
                    que les facilita el acceso al mercado laboral.
                </h2>
            </div>
        </div>
    </div>
</section>

<br>
<br>

<section class="mt-5 py-5 mb-5">
    <div class="hero-body pt-5">
        <div class="container has-text-centered">
            <div class="columns is-vcentered">
                <div class="column is-5" data-aos="fade-left">
                    <figure class="image is-4by3">
                        <img src="../../../assets/img/img-home-portada6.jpg" alt="Description">
                    </figure>
                </div>
                <div class="column is-6 is-offset-1" data-aos="zoom-in-left">
                    <h1 class="patua-one-regular title is-2">
                        !! Mas de 100 cursos para ti !!
                    </h1>
                    <h4 class="smooch-sans is-4">
                        En 2024, te invitamos a explorar nuestra amplia selección de cursos disponibles para tu
                        aprendizaje.
                    </h4>
                    <br>
                    <p class="has-text-centered">
                        <a class="button is-medium is-info is-outlined">
                            Login
                            <i class="bi bi-person-circle m-2"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt-5 py-5 mb-5">
    <div class="hero-body text-center ">
        <div class="container has-text-centered">
            <div class="columns is-vcentered">
                <div class="column is-10 is-offset-1" data-aos="fade-down">
                    <h1 class="patua-one-regular title is-2 text-center">
                        !! Mas de 100 cursos para ti !!
                    </h1>
                    <h4 class="smooch-sans is-4 text-center">
                        En 2024, te invitamos a explorar nuestra amplia selección de cursos disponibles para tu
                        aprendizaje.
                    </h4>
                    <br>
                    <p class="has-text-centered">
                        <a class="button is-medium is-info is-outlined">
                            Registrarse
                            <i class="bi bi-person m-1"></i>
                        </a>
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="blog-posts py-5 mb-5 mt-5">
    <div class="container">
        <div class="columns">
            <div class="column is-10 is-offset-1">
                <hr>
                <div class="columns is-multiline" data-aos="fade-down-right">
                    <div class="column post is-6">
                        <article class="columns is-multiline">
                            <div class="column is-12 post-img">
                                <img src="../../../assets/img/img-home-portada7.jpg" alt="Featured Image">
                            </div>
                            <div class="column is-12 featured-content " data-aos="fade-down-left">
                                <h3 class="heading post-category">Category Name</h3>
                                <h1 class="patua-one-regular title post-title">Aprende de la tecnología </h1>
                                <p class=" smooch-sans  post-excerpt">Lorem ipsum dolor sit, amet consectetur
                                    adipisicing elit.
                                    Accusamus ratione harum eaque, animi nulla tempore quis, quam voluptatum.</p>
                                <br>
                                <a href="#" class="button is-primary">Descrubre más</a>
                            </div>
                        </article>
                    </div>
                    <div class="column post is-6 " data-aos="fade-up-left">
                        <article class="columns is-multiline">
                            <div class="column is-12 post-img">
                                <img src="../../../assets/img/img-home-portada8.jpg" alt="Featured Image">
                            </div>
                            <div class="column is-12 featured-content ">
                                <h3 class="heading post-category">Category Name</h3>
                                <h1 class=" patua-one-regular title post-title">Aprende un idioma nuevo</h1>
                                <p class="smooch-sans  post-excerpt">Lorem ipsum dolor sit, amet consectetur adipisicing
                                    elit.
                                    Accusamus ratione harum eaque, animi nulla tempore quis, quam voluptatum.</p>
                                <br>
                                <a href="#" class="button is-primary">Descrubre más</a>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>