#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background: #333;
    color: #fff;
    padding-top: 20px;
    overflow-y: auto;
    /* Habilita el scroll vertical */
}

.menu-container {
    max-height: calc(100% - 60px);
    /* Resta el espacio del encabezado del menú */
}

.sidebar-header {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #555;
}

ul.components {
    padding: 20px 0;
    margin: 0;
    /* Elimina el margen predeterminado */
}

ul.components li {
    padding: 10px 20px;
}

ul.components li a {
    color: #fff;
    text-decoration: none;
}

ul.components li a:hover {
    background: #555;
    border-radius: 5px;
}

.submenu {
    display: none;
    /* Oculta los submenús por defecto */
}


.submenu {
    display: none;
}

.submenu.active {
    display: block;
}

/* Estilos para el menú */
#sidebar .list-unstyled.components li {
    /* Transición suave para el color del texto */
    transition: color 0.3s ease;
}

/* Cambia el color del texto al hacer hover */
#sidebar .list-unstyled.components li:hover {
    color: rgba(0, 0, 0, 0.5);
    /* Color de texto transparente al hacer hover */
}